@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 210 15% 98%;
    --foreground: 210 5% 10%;
    --card: 210 15% 98%;
    --card-foreground: 210 5% 15%;
    --popover: 210 15% 98%;
    --popover-foreground: 210 95% 10%;
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 15% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 172 15% 95%;
    --muted-foreground: 210 5% 40%;
    --accent: 172 15% 90%;
    --accent-foreground: 210 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 210 5% 98%;
    --border: 210 20% 82%;
    --input: 210 20% 50%;
    --ring: 210 100% 50%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 210 15% 10%;
    --foreground: 210 5% 98%;
    --card: 210 15% 10%;
    --card-foreground: 210 5% 98%;
    --popover: 210 15% 5%;
    --popover-foreground: 210 5% 98%;
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 15% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 172 15% 25%;
    --muted-foreground: 210 5% 65%;
    --accent: 172 15% 25%;
    --accent-foreground: 210 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 210 5% 98%;
    --border: 210 20% 50%;
    --input: 210 20% 50%;
    --ring: 210 100% 50%;
    --radius: 0.5rem;
  }
}
